@use 'src/styles/theme' as theme;

.root {
	font-size: theme.text-size(md);
	text-transform: capitalize;
	label {
		display: flex;
		align-items: center;
		column-gap: theme.spacing(sm);
		svg {
			height: theme.spacing(md);
			width: theme.spacing(md);
		}
	}
	.inputContainer {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		column-gap: theme.spacing(md);

		.rangeInput {
			width: 100%;
			cursor: pointer;
			appearance: none;
			height: theme.spacing(2xs);
			&[type='range']::-webkit-slider-thumb {
				appearance: none;
				background: theme.text-color(accent);
				height: theme.spacing(md);
				width: theme.spacing(md);
				outline: theme.spacing(2xs) solid theme.text-color(primary);
			}
		}
		.numberInput {
			appearance: none;
			margin: 0;
			background-color: transparent;
			width: min-content;
			text-align: center;
		}
		input[type='number']::-webkit-inner-spin-button,
		input[type='number']::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	.resizeInfo {
		margin-top: theme.spacing(lg);
		display: grid;
		place-content: center;
		place-items: center;
		background-color: theme.background-color(accent);
		padding: theme.spacing(md);
		row-gap: theme.spacing(md);
		outline: theme.spacing(2xs) dashed theme.background-color(accent);
		outline-offset: theme.spacing(xs);
		svg {
			margin-bottom: theme.spacing(md);
		}
		p {
			text-align: center;
			font-size: 0.85rem;
			span {
				color: theme.text-color(accent);
			}
		}
	}
}
