@use 'src/styles/theme' as theme;

.Drawer {
	grid-column: span 2;
	border: theme.spacing(2xs) solid theme.background-color(accent);
	box-shadow: calc(-1 * theme.spacing(xs)) theme.spacing(xs)
		theme.background-color(disabled);
	border-right: none;
	height: 100%;
	padding: theme.spacing(md);
	@media screen and (max-width: theme.breakpoint(sm)) {
		display: none;
	}
}
