@use 'src/styles/theme' as theme;

.toUpload {
	height: 100%;
	width: 100%;
	min-height: 10rem;
	display: grid;
	cursor: pointer;
	background-color: theme.background-color(focus);
	outline: theme.spacing(3xs) dashed theme.background-color(accent);
	padding: theme.spacing(lg);
	outline-offset: theme.spacing(xs);
	position: relative;
	input {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	&.dragging {
		background-color: theme.text-color(accent);
	}

	div {
		display: grid;
		align-items: center;
		justify-items: center;
		gap: theme.spacing(sm);
		svg {
			height: theme.spacing(lg);
			width: theme.spacing(lg);
		}
		p {
			font-size: theme.text-size(sm);
			text-align: center;
		}
	}
}

.uploaded {
	display: grid;
	align-items: center;
	gap: theme.spacing(md);
	label {
		font-size: theme.text-size(md);
		text-transform: capitalize;
		display: flex;
		align-items: center;
		gap: theme.spacing(sm);
		svg {
			height: theme.spacing(md);
			width: theme.spacing(md);
		}
	}
	.uploadedContainer {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		align-items: center;
		justify-items: center;
		gap: theme.spacing(md);
		img {
			grid-column: span 1;
			object-fit: contain;
			outline: theme.spacing(3xs) dashed theme.background-color(accent);
			outline-offset: theme.spacing(2xs);
		}
		span {
			grid-column: span 3;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: theme.text-size(sm);
			white-space: nowrap;
			width: 100%;
		}
		.deleteIcon {
			border: theme.spacing(3xs) solid theme.text-color(error);
			color: theme.text-color(error);
			padding: theme.spacing(sm);
			display: grid;
			align-items: center;
			justify-items: center;
			svg {
				height: theme.spacing(md);
				width: theme.spacing(md);
			}
			@media (hover: hover) {
				&:hover {
					background-color: theme.text-color(error);
					color: theme.text-color(primary);
				}
			}
		}
	}
}
