@use 'src/styles/theme' as theme;
.root {
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	border: theme.spacing(2xs) solid theme.background-color(accent);
	box-shadow: calc(-1 * theme.spacing(xs)) theme.spacing(xs)
		theme.background-color(disabled);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: theme.spacing(md);
	@media screen and (max-width: theme.breakpoint(sm)) {
		display: none;
	}
}

.imageInput {
	padding: theme.spacing(2xl);
	background-color: theme.background-color(focus);
	position: relative;
	display: grid;
	align-items: center;
	justify-items: center;

	&.dragging {
		background-color: theme.text-color(accent);
		width: 100%;
		height: 100%;
	}

	&:focus-within {
		outline: theme.spacing(2xs) dashed theme.text-color(accent);
	}

	.fileDropzone {
		cursor: pointer;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

.canvasContainer {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	img {
		position: absolute;
		object-fit: contain;
		max-width: 100%;
		max-height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
	}

	canvas {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 100%;
	}

	.canvasInnerContainer {
		max-width: 100%;
		max-width: 100%;
		position: relative;

		// selectedArea
		.selectedRectangle {
			position: absolute;
			outline: theme.spacing(2xs) dashed rgba(255, 255, 255, 0.5);
			@media (hover: hover) {
				&:hover {
					cursor: grab;
				}
				&:active {
					cursor: grabbing;
				}
			}
		}

		.rectangleEdge {
			position: absolute;
			z-index: 1;

			@media (hover: hover) {
				&:hover {
					cursor: grab;
					&::after {
						scale: 2.5;
					}
				}
				&:active {
					cursor: grabbing;
				}
			}
			&::after {
				content: '';
				position: absolute;
				transform: translate(-0.25rem, -0.25rem);
				transform-origin: top left;
				border-radius: 50%;
				transition: 0.15s ease;
				width: 0.5rem;
				height: 0.5rem;
				background-color: black;
				box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 3px;
			}
		}
	}
}
